@import '../mixins';
@import "../variables";

.banner {
    background: url('../../images/bg-curvy-desktop.svg');
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
    padding: 75px 0;
    width: 100%;
    @include flex-jc-c-ai-c(column);


    &__img {
        width: 720px;
        height: 534px;
    }

    &__text {
        width: 734px;
        text-align: center;

        &__title {
            font-family: $font-family-header;
            font-weight: bold;
            font-size: 40px;
            line-height: 60px;
            margin-top: 36px;
        }

        &__subtitle {
            font-weight: normal;
            font-size: 20px;
            line-height: 30px;
            margin: 32px auto;
            max-width: 590px;
            font-family: $font-family-body;
        }
    }
}