@import "../variables";

.button {
    background: linear-gradient(138.1deg, $accent-cyan -49.34%, $accent-blue 100%);
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.15925);
    border-radius: 28px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
    outline: none;
    border: none;
    cursor: pointer;
    font-family: $font-family-header;
    transition: background 3s ease-in;

    &:hover {
        background: linear-gradient(138.1deg, $accent-cyan -49.34%, $accent-cyan 100%);
    }
}