@import "../variables";
@import "../mixins";

.footer {

    padding: 169px 81px 53px 81px;
    background-color: $primary-color-footer;

    &__logo {
        width: 100px;
    }

    &__container {
        min-height: 220px;
    }

    &__wrapper {
        margin-top: 52px;
        display: flex;
        justify-content: space-between;
        font-family: $font-family-body;
        flex-wrap: wrap;


        &__a {
            width: 379px;
            display: flex;
            font-size: 1rem;
            line-height: 24px;
            font-family: $font-family-body;

            p {
                margin-left: 1rem;
                opacity: 0.5;
            }
        }

        &__b {
            div {
                @include flex-ai-c-jc-sb;
                width: 200px;
                margin-bottom: 1rem;

                p {
                    opacity: 0.5;
                    align-self: flex-end;
                }
            }
        }

        &__c {
            display: flex;

            &__list:first-child {
                margin-right: 80px;
            }

            &__item {
                margin-bottom: 1rem;
                opacity: 0.5;
                cursor: pointer;
                transition: opacity 0.3s ease;

                &:hover {
                    opacity: 1;
                }
            }
        }

        &__d {
            svg {
                margin-right: 1rem;
                cursor: pointer;
                transition: fill 0.3s ease;

                &:hover {
                    fill: $accent-cyan;
                }
            }

            svg:last-child {
                margin-right: 0;
            }
        }

    }
}