@import "../global";
@import "../mixins";
@import "../reset";
@import "../variables";

.header {
    height: 52px;
    margin-top: 73px;

    &__container {
        @include flex-ai-c-jc-sb;
    }
    &__logo {
        cursor: pointer;
    }

    &__nav {
        &__list {
            @include flex-ai-c-jc-sb;

            &__item {
                margin-left: 57px;
                color: $neutral;
                font-size: $font-size;
                font-family: $font-family-header;
                transition: all 0.3s ease-in-out;
                cursor: pointer;

                &:hover {
                    font-weight: bold;
                }
            }
        }
    }
}